.head1{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: black;
	position: fixed;
	z-index: 100;
	top: 0;
}
.head2{
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	background-color: black;
	color: white;
	position: relative;
}
.shead1{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
}
.shead2{
	margin-left: 30px;
	position: absolute;
}
.shead2 li{
	display: inline-block;
	color: white;
	padding-left: 4px;
	padding-right: 6px;
	margin-top: 10px;
	border-right: #9e9e9e 1px solid;
}
.shead2 a{
	text-decoration: none;
	color: #9e9e9e;
	font-style: arial;
	font-size: 15px;
}
.shead2 a:hover{
	color: white;
	text-decoration: none;
}
.shead2 li:last-child{
	border: none;
}
.shead3{
	color: #9e9e9e;
	position: absolute;
	right: 0;
	display: inline-block;

}
.s3{
	display: inline-block;
	padding: 10px;
	font-size: 15px !important;
}
.shead3 a{
	text-decoration-style: none;
	color: #9e9e9e;
}
.shead3 a:hover{
	color: white;
	text-decoration: none;
}
/*section1*/
.mysec1{
	background-color: white;
	width: 100%;
	height: 630px;
	margin-top: 70px;
}
.mycontainer1{
	margin-top: 70px;
	margin: 0 auto;
	width: 1100px;
	height: 630px;
	background-color: white;

}
.bbox1{
	width: 300px;
	height: 600px;
	position: relative;
	left: 0;
	float: left;
	background-color: white;
}

.bbox1 h4{
	width: 100%;
	height: 40px;
	background-color: #e0e0e0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
}
.bbox1 img{
	width: 300px;
	height: 169px;

}
.mytable{
	width: 300px;
	height: 390px;
	position: absolute;
	bottom: 0;
	background-color: white;
}
/*.back{
	width: 300px;
	height: 400px;
	position: absolute;
	bottom: 0;
}*/
.mytable table{
	width: 300px;
	height: 360px;
	position: absolute;

}
.mytable td{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 1px #e0e0e0;
	width: 300px;
	margin-bottom: 0;
}

.mytable a{
	text-decoration: none;
	color: black;
}
.mytable a:hover{
	text-decoration: none;
	color: red;
}

.bbox2{
	width: 780px;
	height: 600px;
	float: right;
	position: relative;
	right: 0;
	display: inline-block;
	background-color: white;
}
.bbox2 h1{
	text-align: center;
	font-size: 50px;
	width: 100%;
	height: 70px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	color: black;
}
.bbox2 a{
	text-decoration: none;
	color: black;
}
.bbox2 a:hover{
	text-decoration: none;
	color: red;
}
.mybigbox{
	width: 100%;
	height: 520px;
	position: relative;
	background-color: yellow;
}
.smallbox{
	width: 100%;
	height: 70px;
	background-color: rgb(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	z-index: 10
}
.bbox2 img{
	margin-top: 0;
	height: 520px;
	width: 100%;
 	position: absolute;
 	z-index: 5

}
.mytittle5{
	margin-top: 5px;
	padding-top: 10px;
	margin-bottom: 0;
	padding-left: 10px;
}
.mystyle p{
	display: inline-block;
	padding-right: 5px;
}
.mystyle a{
	color: blue;
	padding-left: 10px;
}


/*section2*/
.mysec2{
	width: 100%;
	height: 600px;
	background-color: white;
}
.mycontainer2{
	width: 1100px;
	height: 600px;
	background-color: white;
	margin: 0 auto;
	position: relative;
}
.box4{
	width: 300px;
	height: 580px;
	background-color: white;
	float: left;
	position: relative;
}
.box4 h4{
	width: 300px;
	height: 40px;
	background-color: #e0e0e0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
}
.box4 img{
	width: 300px;
	height: 169px;
}
.box4 table{
	width: 300px;
	height: 370px;
	position: absolute;
	bottom: 0;
}
.box4 tr{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #e0e0e0;
	width: 300px;
}
.box4 a{
	text-decoration: none;
	color: black;
}
.box4 tr:first-child{
	font-size: 20px;
}
.box4 a:hover{
	text-decoration: none;
	color: red;
}
.box5{
	width: 460px;
	height: 580px;
	background-color: white;
	margin-left: 20px;
	float: left;
}
.box5 h4{
	width: 460px;
	height: 40px;
	background-color: #e0e0e0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
}
.smallbox2{
	width: 100%;
	height: 259px;
	background-color: green;
	position: relative;
}
.crazy{
	width: 100%;
	height: 50px;
	background-color: rgb(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	z-index: 20;
}
.crazy p{
	padding-top: 10px;
	font-size: 25px;
	padding-left: 10px;
}
.crazy a{
	text-decoration: none;
	color: black;
}
.crazy a:hover{
	text-decoration: none;
	color: red;
}
.box5 img{
	width: 460px;
	height: 259px;
	position: absolute;
	z-index: 15;
}
.smallbox4{
	height: 104px;
	width: 100%;
	background-color: white;
	position: relative;
	border-top: solid 1px #e0e0e0;
}
.sbox7{
	width: 184px;
	height: 104px;
	background-color: white;
	display: inline-block;
	position: absolute;
	left: 0;
}
.sbox7 img{
	width: 184px;
	height: 104px;
}
.sbox8{
	width: 250px;
	height: 104px;
	background-color: white;
	display: inline-block;
	position: absolute;
	right: 20px;
}
.sbox8 p{
	font-size: 19px;
}
.sbox8 a{
	text-decoration: none;
	color: black;
}
.sbox8 a:hover{
	text-decoration: none;
	color: red;
}


.box6{
	width: 300px;
	height: 580px;
	background-color: white;
	margin-left: 20px;
	float: left;
}

.box6 h4{
	width: 100%;
	height: 40px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	background-color: #e0e0e0;
}
.box7{
	height: 80px;
	width: 100%;
	background-color: white;
	position: relative;
}
.mybox9{
	position: absolute;
	right: 20px;
	background-color: white;
	width: 190px;
	height: 75px;
}
.mybox9 p{
	padding-top: 10px;
}
.mybox9 a{
	text-decoration: none;
	color: black;
}
.mybox9 a:hover{
	text-decoration: none;
	color: red;
}
img{
	position: absolute;
	left: 0;
	width: 75px;
	height: 75px;
}


/*section3*/
.mysec3{
	width: 100%;
	height: 320px;
	background-color: white;
	
}
.container3{
	width: 1100px;
	height: 320px;
	background-color: white;
	margin: 0 auto;
}
.sec3box1{
	width: 100%;
	height: 40px;
	background-color: yellow;
}
.sec3manybox{
	width: 24%;
	height: 200px;
	background-color: white;
	float: left;
	margin-right: 1.3%
}
.sec3manybox:last-child{
	margin-right: 0;
}
.sec3sbox1{
	width: 100%;
	height: 70%;
	background-color: white;
	position: relative;
}
.sec3sbox1 img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.sec3sbox2{
	width: 100%;
	height: 30%;
	background-color: white;
}
.inbox1{
	width: 10%;
	height: 40px;
	background-color: white;
	float: left;
}
.inbox2{
	width: 90%;
	height: 40px;
	background-color: white;
	float: left;
}
.doubleline{
	width: 100%;
	height: 7px;
	border-top: 3px solid #e0e0e0;
	border-bottom: 3px solid #e0e0e0;
	margin-top: 17px;
	background-color: white;
}

/*section4*/
.mysec4{
	width: 100%;
	height: 600px;
	background-color: red;
}
/*<!--footer style-->*/
.footer1{
	height: 420px;
	width: 100%;
	background-color: #262626;
}
.sf1{
	background-color: #262626;
	width: 1100px;
	height: 420px;
	margin: 0 auto;
}


.f1{
	display: inline-block;
	color: white;
	padding-right: 10px;
}
.hrall{
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	width: 77.5%;
	height: 12px; 
	background-color: #262626;
	display: inline-block;
	right: 0;
}
.img1{
	height: 353px;
	width: 630px;
	position: absolute;
}
.tittleimg1{
	width: 630px;
	height: 50px;
	position: absolute;
	background-color: rgba(26, 26, 32, 0.7);
	color: white;
	bottom: 0;
	margin: 0;
	padding-top: 7px;
}
.box1{
	width: 630px;
	height: 353px;
	position: relative;
	display: inline-block;

}
.box2{
	width: 450px;
	height: 353px;
	background-color: #262626;
	margin-left: 15px;
	display: inline-block;
	right: 0;
	position: relative;
}

.box2 ul{
	position: absolute;
}

.box2 li{
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px white solid;
	width: 410px;
}

.box2 a{
	text-decoration: none;
	color: white;
	font-size: 15px;

}
.box2 a:hover{
	text-decoration: none;
	color: red;

}

/*footer section2*/
.footer2{
	height: 895px;
	width: 100%;
	background-color: #0c0c0c;
}
.sf2{
	background-color: #0c0c0c;
	width: 1100px;
	height: 895px;
	margin: 0 auto;
}
.boxf1{
	width: 100%;
	height: 40px;
	background-color: #0c0c0c;
	
}
.boxf2{
	width: 300px;
	height: 40px;
	background-color: #0c0c0c;
	float: left;
}
.boxf3{
	width: 350px;
	height: 40px;
	background-color: #0c0c0c;
	float: right;
}
.boxf3 input{
	width: 280px;
	height: 30px;
	background-color: #424242;
	border: none;
	color: #e0e0e0;
}
.boxf3 button{
	background-color: #424242;
	width: 40px;
	height: 30px;
	border: none;
	margin-left: -4px;
	margin-top: 5px;
	color: #e0e0e0;
}
.disinline{
	float: left;
	padding-top: 10px;
	color: white;
	padding-right: 20px;

}
.manyboxf{
	width: 180px;
	height: 260px;
	background-color: #0c0c0c;
	float: left;
	margin-right: 3px;
}
.manyboxf h3{
	margin-top: 0;
	color: white;
}
.manyboxf p{
	color: white;
}
.left p{
	color: white;
	margin-top: 30px;
	font-size: 20px;

}
.left a:hover{
	text-decoration: none;
}
.right p{
	text-align: right;
	color: white;
	font-size: 12px;
}
.last li{
	float: right;
	list-style: none;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	font-size: 12px;
	border-right: 1px solid white;
}
.last li:last-child(){
	border-right: none;
}









